<box width="100%" height="100%" bgColor="primary.dark" padding="10px 10px 10px 10px" color="text.light">
    <grid spacing=1>
        <griditem xs={2}>
            
        </griditem>
        
        <griditem xs={8}>
            <box width="100%" height="100%" bgcolor="primary.dark" textAlign='left' padding="150px 10px 10px 10px" color="text.light"> 
                <h1 fontFamily="Electrolize-Regular">MSS &gt; WP</h1>
                <p>MSS stands for MERNStackStarter and is a boilerplate starter pack for created NodeJS apps using a MERN Stack strategy bet on becoming the "Wordpress Killer".</p>
                
                <button onClick="alert('WIP: Send email to db')">Request Code</button>
                <ul>
                    <li>Mongo, Express, React, Node (MERN) Stack Strategy</li>
                    <li>Lightweight - only 80mb!</li>
                    <li>Full Dashboard</li>
                    <li>200+ premade components!</li>
                    <li>1,293 fonts locally stored</li>
                </ul>
            </box>
        </griditem>
        <griditem xs={2}>
            
        </griditem>        
    </grid>
</box>
<Divider />
<box width="100%" height="100%" bgColor="primary.dark" padding="10px 0px 10px 0px" color="text.light">
    <grid spacing=1>
        <griditem xs={2}>
            
        </griditem>
        
        <griditem xs={8}>
            <box width="100%" height="100%" bgcolor="transparent" textAlign='center' padding="150px 10px 10px 10px" color="text.light"> 
                <h3 fontFamily="Electrolize-Regular" textAlign='center'>From rough design files, to powerful products</h3>
                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur excepteur sint occaecat cupidatat.</p>
            </box>
        </griditem>
        <griditem xs={2}>
            
        </griditem>        
    </grid>
</box>
<Divider />
<box width="100%" height="100%" bgColor="secondary.dark" padding="10px 0px 10px 0px" color="text.light">
    <grid spacing=1>
        <griditem xs={2}>
            
        </griditem>
        
        <griditem xs={8}>
            <box width="100%" height="100%" bgcolor="transparent" textAlign='center' padding="150px 10px 10px 10px" color="text.light"> 
                <h3 fontFamily="Electrolize-Regular"></h3>
                <p>Bottom</p>
            </box>
        </griditem>
        <griditem xs={2}>
            
        </griditem>        
    </grid>
</box>

<box width="100%" height="100%" bgColor="secondary.dark" padding="10px 0px 10px 0px" color="text.light">
    <grid spacing=2>
        <griditem xs={2}>
            
        </griditem>
        
        <griditem xs={8}>
            <box width="100%" height="100%" bgcolor="transparent" textAlign='left' padding="150px 10px 10px 10px" color="text.light"> 
                <grid spacing=1>
                    <griditem xs={3}>
                        MSS
                    </griditem>
                    <griditem xs={2}>
                        <ul showDots="no">
                            <li><b>PRODUCTS</b></li>
                            <li>Drag and Drop</li>
                            <li>Visual Studio X</li>
                            <li>Easy Content</li>
                        </ul>
                    </griditem>
                    <griditem xs={2}>
                        <ul showDots="no">
                            <li><b>RESOURCES</b></li>
                            <li>Industries and tools</li>
                            <li>Use cases</li>
                            <li>Blog</li>
                            <li>Online events</li>
                            <li>Nostrud exercitation</li>                            
                        </ul>
                    </griditem>
                    <griditem xs={2}>
                        <ul showDots="no">
                            <li><b>COMPANY</b></li>
                            <li>Diversity &amp; Inclusion</li>
                            <li>About us</li>
                            <li>Customer stories</li>
                            <li>Online communities</li>
                        </ul>
                    </griditem>
                    <griditem xs={2}>
                        <ul showDots="no">
                            <li><b>SUPPORT</b></li>
                            <li>Documentation</li>
                            <li>Tutorials &amp; guides</li>
                            <li>Webinars</li>
                            <li>Open-source</li>
                        </ul>
                    </griditem>
                </grid>
            </box>
        </griditem>
        <griditem xs={2}>
            
        </griditem>        
    </grid>
</box>

<!--
PADDING : TOP RIGHT BOTTOM LEFT
-->